html, body {
	font-size: 11px;
	font-family: arial;
}

.formulario {
	font-family: arial;
}
.formulario .label {
	width: 30%;
}
.formulario .data {
	width: 70%;
}
/*
.formulario input {
	width: 100%;
}
*/
.formulario table {
	width: 100%;
}
