
.autocomplete-w1 { background:url(shadow.png) no-repeat bottom right; position:absolute; top:4px; left:3px; /* IE6 fix: */ _background:none; _top:1px; }
.autocomplete-w2 { padding:0 6px 6px 0; }
.autocomplete { font-size: 80%; width:320px; border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE specific: */ _height:350px;  _margin:0px 6px 6px 0; overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete .text { float:left; width:215px; height: 52px; white-space:nowrap; overflow: hidden;/* border:1px solid blue;  */ }
.autocomplete  img { width:64px; height: 48px; padding: 2px; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
